<nav>
    <div class="site-title">
        <a href="/"><h1>Home</h1></a>
        <p>A Nodejs powered blog</p>
    </div>
    <ul>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blogs/create">New Blog</a>
    </ul>
</nav>