<html lang="en">
    <%- include('./partials/head.ejs') %>

    <body>
        <h1>404 - Page not Found</h1>
        <p>That resource is not located on this site</p>
        <%- include('./partials/nav.ejs') %>

        <div class="404 content">
            <p>Check the url again, the resouce you are looking for is not found at the path specified.</p>
        </div>

    </body>

    <%- include('./partials/footer.ejs') %>
</html>