<html lang="en">
    <%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>


        <div class="about content">
            <h2>About this Page</h2>
            <p>Lorem ipsum dolor, sit amet consecteture adipisicing elit.</p>
            <p>Lorem ipsum dolor, sit amet consecteture adipisicing elit.</p>
            <p>Lorem ipsum dolor, sit amet consecteture adipisicing elit.</p>
            <p>Lorem ipsum dolor, sit amet consecteture adipisicing elit.</p>
            <p>Lorem ipsum dolor, sit amet consecteture adipisicing elit.</p>
        </div>

    </body>

    <%- include('./partials/footer.ejs') %>
</html>