<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name='viewport' content="width=device-width, intial-scale=1.0">
        <title>Default React Page</title>
    </head>

    <body>
        <h1>About Page</h1>
        <p>This is the about page</p>
        <nav>
            <div class="site-title">
                <a href="/"<h1>Home</h1></a>
                <p>A Nodejs powered blog</p>
            </div>
            <ul>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/blogs/create">New Blog</a>
            </ul>
        </nav>

        <div class="about content">
            <h2>About this Page</h2>
            <p>Lorem ipsum dolor, sit amet consecteture adipisicing elit.</p>
            <p>Lorem ipsum dolor, sit amet consecteture adipisicing elit.</p>
            <p>Lorem ipsum dolor, sit amet consecteture adipisicing elit.</p>
            <p>Lorem ipsum dolor, sit amet consecteture adipisicing elit.</p>
            <p>Lorem ipsum dolor, sit amet consecteture adipisicing elit.</p>
        </div>

    </body>

    <footer>
        
    </footer>
</html>