<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name='viewport' content="width=device-width, intial-scale=1.0">
        <title>Default React Page</title>
    </head>

    <body>
        <h1>Index Page</h1>
        <p>This is a html page that can be built independently from react and nodejs</p>
        <nav>
            <div class="site-title">
                <a href="/"<h1>Home</h1></a>
                <p>A Nodejs powered blog</p>
            </div>
            <ul>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/blogs/create">New Blog</a>
            </ul>
        </nav>

        <div class="create-blog content">
            <form>
                <label for="title">Blog Title:</label>
                <input type="text" id="title" required>
                <label for="snippet">Blog Snippet:</label>
                <input type="text" id="snippet" required>
                <label for="body">Blog Body:</label>
                <textarea id="body" required></textarea>
                <button>Submit</button>
            </form>
        </div>

    </body>

    <footer>
        
    </footer>
</html>