<html>
    <header>
        <title>Default React Page</title>
    </header>

    <body>
        <h1>Index Page</h1>
        <p>This is a html page that can be built independently from react and nodejs</p>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
        </nav>
    </body>

    <footer>
        
    </footer>
</html>