<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name='viewport' content="width=device-width, intial-scale=1.0">
        <title>Blog | <%=title%></title>
    </head>

    <body>
        <% const name = "Liam" %>

        <nav>
            <div class="site-title">
                <a href="/"><h1>Seathed Blog</h1></a>
                <p>A Nodejs powered blog</p>
                <p>This is a html page that can be built independently from react and nodejs</p>
            </div>
            <ul>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/blogs/create">New Blog</a>
            </ul>
        </nav>

        <div class="blogs content">
            <h2>All Blogs</h2>
            <p>Hello, <%=name%></p>
        </div>

    </body>

    <footer>
        
    </footer>
</html>